.header {
    padding: 30px;
    text-align: center;
    background: #0d1104;
    color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
  }
  
  .right {
      position: absolute;
      right: 100px;
      width: 300px;
      padding: 10px;
    }
  
  .left {
      position: absolute;
      left: 100px;
      width: 300px;
      padding: 10px;
    }
  
  .body {
      background-color: rgb(217, 243, 243);
      color: rgb(36, 34, 34);
      height: 800px;
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 20px;
    }
  
  .button {
      padding: 10px 40px;
      background-color: black;
      color: white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }