<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Song</title>
</head>

<body>
    <div class="subheader">
        <img src="image.png" class="left" alt="Music Notes">
        <img src="image.png" class="right" alt="Music Notes">
        <p><i>Add Song</i></p>
    </div>
    <form action="/addsong" method="post">
        <label for="SongName">Enter Song Name:</label>
        <input id="SongName" type="text" name="SongName">
        <br>
        <label for="ArtistID">Enter Artist Name:</label>
        <input id="ArtistID" type="text" name="ArtistID">
        <br>
        <label for="YearReleased">Enter Year Released:</label>
        <input id="YearReleased" type="text" name="YearReleased">
        <br>
        <!--<label for="Email">Receive Emails? </label>
        <input id="Email" type="checkbox" name="Email" value="Y" checked>
        <br>-->
        <input type="submit" value="Save">
    </form>

</body>

</html>