<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Song</title>
</head>
<body>
    <form action="/editsong" method="post">
        <label for="SongID">Song ID:</label>
        <input id="SongID" type="text" name="SongID">
        <br>
        <label for="SongName">Song Name:</label>
        <input id="SongName" type="text" name="SongName">
        <br>
        <label for="ArtistID">Enter Artist Name:</label>
        <input id="ArtistID" type="text" name="ArtistID">
        <br>
        <label for="YearReleased">Enter Year Realeased:</label>
        <input id="YearReleased" type="text" name="YearReleased">
        <br>
       <!-- <label for="Email">Receive Emails? </label>
        <input id="Email" type="checkbox" name="Email" value="Y" checked>
        <br>-->
        <input type="submit" value="Update">
    </form>
</body>
</html>