<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Student</title>
</head>
<body>
    <form action="/updateStudent" method="post">
        <label for="CustID">Enter Customer ID:</label>
        <input id="CustID" type="text" name="CustID">
        <br>
        <label for="FirstName">Enter First Name:</label>
        <input id="FirstName" type="text" name="FirstName">
        <br>
        <label for="LastName">Enter Last Name:</label>
        <input id="LastName" type="text" name="LastName">
        <br>
        <label for="Email">Receive Emails? </label>
        <input id="Email" type="checkbox" name="Email" value="Y" checked>
        <br>
        <input type="submit" value="Update">
    </form>
</body>
</html>