<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Song</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="subheader">
        <img src="/images/image.png" class="left2" alt="Music Notes">
        <img src="/images/image.png" class="right2" alt="Music Notes">
        <h1><b>Update Song</b></h1>
        <p><i>Update the song information then click save. Cancel to delete changes.</i></p>
    </div>
    <div class="body">
        <form action="/editsong" method="post">
            <input type="hidden" id="SongID" name="SongID" value="<%= songdata[0].SongID %>">
            <label for="SongName">Enter Song Name:</label>
            <input id="SongName" type="text" name="SongName" value="<%= songdata[0].SongName %>">
            <br>
            <label for="ArtistID">Enter Last Name:</label>
            <input id="ArtistID" type="text" name="ArtistID" value="<%= songdata[0].ArtistID %>">
            <br>
            <label for="YearReleased">Enter Last Name:</label>
            <input id="YearReleased" type="text" name="YearReleased" value="<%= songdata[0].YearReleased %>">
            <br>
            <input class="button" type="submit" value="Save">
            <input class="button" type="submit" value="Cancel">
        </form>
    </div>
</body>

</html>