<div class="subheader">
    <img src="image.png" class="left2" alt="Music Notes">
    <img src="image.png" class="right2" alt="Music Notes">
    <h1><b>Start Over</b></h1>
    <p><i>Are you sure you would like to start over?.</i></p>
</div>
<div class="body">
</div>
<input class="button" type="submit" value="Save">